@* @model ForgottenPasswordViewModel

<h2>Password dimenticata</h2>

<form asp-action="ForgottenPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Invia</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@


@model ForgottenPasswordViewModel

@{
    ViewData["Title"] = "Password dimenticata";
}


<div class="d-flex justify-content-center align-items-center w-100 my-auto">

    <!--begin::forgot password card-->
    <div class="modifica-profilo-card p-5 rounded-lg d-flex flex-column justify-content-evenly align-items-center">

        <!--begin::header title-->
        <div class="d-flex justify-content-center align-items-center w-100">
            <span class="signup-title">Password dimenticata</span>
        </div>
        <!--end::header title-->

        <!--begin::forgot password form-->
        <form asp-action="ForgottenPassword" method="post" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--begin::form body-->
            <div class="d-flex flex-column gap-2 gap-lg-3 align-items-center mt-4 w-100">
                <!--begin::email field-->
                <div class="w-100">
                    <label asp-for="Email"> La tua Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!--end::email field-->

                <!--begin::submit button-->
                <div class="d-flex justify-content-center align-items-center w-100 mt-2">
                    <button type="submit" class="btn btn-gemelli myButton">Invia</button>
                </div>
                <!--end::submit button-->
            </div>
            <!--end::form body-->
        </form>
        <!--end::forgot password form-->

    </div>
    <!--end::forgot password card-->

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
