@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User) || Context.Request.Cookies["auth_cookie_grip_on_mash"] != null)
{
    <nav class="navbar navbar-expand-lg navbar-light header p-2 p-lg-3">
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_NavbarMedicoBasePartial" />
        }
        else if (Context.Request.Cookies["auth_cookie_grip_on_mash"] != null)
        {
            <partial name="_NavbarMedicoInternoPartial" />
        }
        else
        {
            <a class="blue-gemelli-a header-logo" asp-area="" asp-controller="Login" asp-action="Login">GripOnMash</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarToggle">
                <ul class="navbar-nav w-100">
                    <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                        <a class="header-menu-item text-dark rounded" asp-controller="Login" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        }
    </nav>
}

