@using Microsoft.AspNetCore.Identity
@using GripOnMash.Models
@inject UserManager<ApplicationUser> UserManager

<a class="blue-gemelli-a header-logo" asp-area="" asp-controller="Home" asp-action="Index">GripOnMash</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse w-100" id="navbarToggle">
    <ul class="navbar-nav w-100 align-items-lg-center">
        @if (User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="PushEsitoQuestionario" asp-action="PushEsito">Questionario</a>
            </li>
            <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                <a class="header-menu-item text-dark rounded" asp-controller="CreateUser" asp-action="CreateUser">Aggiungi un nuovo utente</a>
            </li>
        }

        <!-- Menu a discesa per il profilo utente e logout -->
        <li class="nav-item ms-lg-auto mt-3 mt-lg-0 dropdown">
            @{
                var user = await UserManager.GetUserAsync(User);
            }
            <a class="header-menu-item text-dark rounded dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ciao @user.Email!
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item mt-3 mt-lg-0 mb-3 mb-lg-0">
                    <a class="header-menu-item text-dark rounded dropdown-item" asp-controller="EditMedicoBase" asp-action="Edit">Modifica Profilo</a>
                </li>
                <li class="nav-item mt-3 mt-lg-0 mb-3 mb-lg-0">
                    <form asp-controller="Logout" asp-action="Logout" method="post" class="dropdown-item p-0 m-0">
                        <button type="submit" class="header-menu-item text-dark rounded btn btn-link dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</div>
