@using System.Security.Claims

<a class="blue-gemelli-a header-logo" asp-area="" asp-controller="Home" asp-action="Index">GripOnMash</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse w-100" id="navbarToggle">
    <ul class="navbar-nav w-100 align-items-lg-center">
        @* Recupero della matricola dal claim LDAP *@
        @{
            string ldapMatricola = User.FindFirstValue(ClaimTypes.Name);
            if (string.IsNullOrWhiteSpace(ldapMatricola))
            {
                <p>Claim non trovato</p>
                ;
            }
            else
            {
                <p>Claim trovato: @ldapMatricola</p>
                ;
            }
        }

        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Ciao, @ldapMatricola!</a>
        </li>
        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
            <a class="header-menu-item text-dark rounded" asp-controller="PushEsitoQuestionario" asp-action="PushEsito">Questionario</a>
        </li>
        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
            <form asp-controller="Logout" asp-action="Logout" method="post">
                <button type="submit" class="header-menu-item text-dark rounded btn btn-link">Logout</button>
            </form>
        </li>
    </ul>
</div>
