@using System.Security.Claims

<a class="blue-gemelli-a header-logo" asp-area="" asp-controller="Home" asp-action="Index">GripOnMash</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse w-100" id="navbarToggle">
    <ul class="navbar-nav w-100 align-items-lg-center">
        @* Recupero della matricola dal claim LDAP *@
        @{
            string ldapNome = User.FindFirstValue("NomeX");
            string ldapCognome = User.FindFirstValue("CognomeX");

            string ldapMatricola = ldapNome + " " + ldapCognome;

        }


        <!-- Menu a discesa per il profilo utente e logouts -->
        <li class="nav-item ms-lg-auto mt-3 mt-lg-0 dropdown">
            <a class="header-menu-item text-dark rounded dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ciao @ldapMatricola!
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item mt-3 mt-lg-0 mb-3 mb-lg-0">
                    <a class="header-menu-item text-dark rounded dropdown-item" asp-controller="GetMediciBase" asp-action="GetMediciBase">Medici Di Base</a>
                </li>
                <li class="nav-item mt-3 mt-lg-0 mb-3 mb-lg-0">
                    <form asp-controller="LogoutInterni" asp-action="LogoutInterni" method="post" class="dropdown-item p-0 m-0">
                        <button type="submit" class="header-menu-item text-dark rounded btn btn-link dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</div>
