@* <h2>E-mail reinserimento pass</h2>
<p>E-mail di reinserimento password inviato con successo</p> *@

@{
    ViewData["Title"] = "Reinserimento password";
}

<div class="d-flex justify-content-center align-items-center w-100 my-auto">


    <div class="modifica-profilo-card p-5 rounded-lg d-flex flex-column justify-content-evenly align-items-center">
        
        
        <div class="d-flex justify-content-center align-items-center w-100">
            <span class="signup-title">E-mail reinserimento pass</span>
        </div>
        

        
        <div class="d-flex flex-column gap-2 gap-lg-3 align-items-center mt-4 w-100">
            <p>E-mail di reinserimento password inviata con successo</p>
            @* <a class="btn btn-primary w-100" href="/Login/Login">Effettua il Login</a> *@
        </div>
        

    </div>
    

</div>
